/* search css */

 input{
  width:250px;
  text-align: center;
  padding: 2px;
  outline: none;
  box-shadow: 0 5px 8px rgba(0,0,0, 0.1);
  border: none;

  
}

.form-select{
  width:160px;
  outline:none;
  
}

/* .search-and-filter{
  display: flex;
  justify-content: space-between;
} */

.formm{
  margin-left: 120px;
}